@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Fanwood+Text&display=swap');

html {
  scroll-padding-top: 2.5rem;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
    font-family: "Fanwood Text", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 2rem;
}

/* Colors */

.bg-color-dark {
    background-color: #3C5D4B;
    color: #F6FFF8;
}

.bg-color-light {
    background-color: #A1BAAF;
    color:#39210C;
}

/* Padding / margin/ text */

.hr {
    border: 1px solid #A1BAAF;
    width: 100%;
    margin: 3rem 0; 
}

.heading {
    font-family: "Eagle Lake", sans-serif;
    text-align: center;
    margin: 1.5rem 0;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem #39210C;
}

.sub-heading {
    font-family: "Eagle Lake", sans-serif;
    text-align: center;
    margin: 1.5rem 0;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem #39210C;

}

.text-property {
    text-align: center;
    margin-top: 1.5rem;
}

.paragraph-text {
    width: 100%;
    text-align: center;
    margin: 0;
}

/* Header */

.navbar {
    text-align: left;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 999999;
    padding: 0;
    margin: 0;
}

#navbar-brand {
    font-family: "Eagle Lake", sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    float: left;
    margin-left: 0;
    padding-left: 1rem;
    text-decoration: none;
    padding-top: 0.5rem;
    color: #F6FFF8;
    text-shadow: 0.2rem 0.2rem #39210C;

}

.navbar-dark .navbar-toggler {
    border-color: #F6FFF8;
    padding: 1.5rem;
    float: right;
    margin: 0.5rem;
}

#navigation li a {
    height: 100%;
    padding: 0;
    margin-right: 3.5rem;
    float: left;
    line-height: 5rem;
    font-size: 1.5rem;  
    margin-left: 2rem;
    width: 100%;
    color: #F6FFF8;
    /* text-shadow: 0.2rem 0.2rem #39210C; */

}


/*--------------------------------- Hero image */

#hero-image {
    background-image: url('../images/forest-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    height: 80vh;
    padding: 0;
}

/* Welcome section */

#image-owners {
    background-image: url('../images/owners-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 30rem;
    border-radius: 50%;
    margin: 1.5rem 0;
}

/* Tree house section */

.treehouse-images {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0.3rem -0.5rem 1rem #39210C;

}

#treehouse-outside {
    background-image: url('../images/treehouse-outside.jpg');
}

#treehouse-living-room {
    background-image: url('../images/treehouse-living-room.jpg');
}

.treehouse-terrace {
    background-image: url('../images/treehouse-terrace.jpg');
    background-position: center;
}

.treehouse-bedroom {
    background-image: url('../images/treehouse-bedroom.jpg');
    background-position: center;
}

/* Prices */

.prices {
    text-align: center;
    border: 3px solid #F6FFF8;
    width: 60%;
    margin: auto;
}
.promotions {
    text-align: center;
}
#btn-promotions {
    text-align: center;
    margin-top: 3rem;
    border: 3px solid #39210C;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.2rem;
}
.pricing-title {
    font-family: "Eagle lake", sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0;
}
.price-value h4 {
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 1rem;
}
.icon {
    margin: 1rem 0;
    font-size: 3.2rem;
}
.pricing-content li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.pricing-content {
    padding: 0;
    font-size: 2rem;
}
.price-value {
    margin-top: 3rem;
}
.pricingTable {
    text-align: center;
    border: 4px solid #A1BAAF;
    height: auto;
    margin: 0 auto;
    width: 90%;
    box-shadow: 0.3rem -0.5rem 1rem 0.1rem #39210C;

}

/* Gallery */

.background-image {
    background-image: url('../images/wood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    
}

#gallery-hr {
    margin-bottom: 0.5rem;
}

.gallery {
    width: 100%;
    height: 25rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 0;  
    object-fit: cover;
    }

/* Testimonials */

.testimonial-icon {
    color: #A1BAAF;
    font-size: 5rem;
    text-align: right;
    margin-bottom: 0;
    margin-right: 5rem;
    }

.social-links {
    text-align: center;
}

.social-links a {
    text-decoration: none;
    color: #A1BAAF;
    font-size: 4rem;
    padding: 2rem;
}

/* Contact */

#contact-location {
    text-align: center;
}

#contact-location a {
    text-decoration: none;
    color: inherit;
}
 
.contact-info {
    display: block;
} 

#contact-form {
    text-align: center;
    margin-bottom: 1.5rem;
}

.contact-input {
    width: 80%;
    margin-bottom: 1rem;
    background-color: #A1BAAF;
    border: 2px solid #39210C;
    border-radius: 1rem;
    color: #39210C;
}

::placeholder {
    color: #39210C;
}

#btn-submit {
    border: 2px solid #39210C;
    border-radius: 1rem;
    width: 10rem;
    margin-bottom: 1rem;
}

/* Footer */

#footer-section {
    min-height: 7rem;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 0.2rem solid #A1BAAF;
}

#footer-section a {
    text-decoration: none;
    font-family: "Eagle Lake", sans-serif;
    font-size: 4rem;
    line-height: 7rem;
    color: #F6FFF8;
    text-shadow: 0.2rem 0.2rem #39210C;

}


/* Hovers */

.active{
    text-decoration: underline;
    text-underline-position: under;
}

#btn-promotions:hover {
    background-color: #577f69;
    color: #F6FFF8;
}

#btn-submit:hover {
    background-color: #577f69;
    color: #F6FFF8;
}
#contact-location a:hover {
    text-decoration: underline;
}

#navigation li a:hover,
#navbar-brand:hover,
#footer-section a:hover {
        color: #A1BAAF;
    }
 .social-links a:hover {
     color: #577f69;
     
 }

/* Price Modal */

.price-modal {
    color: #39210C;
    z-index: 9999991;   
}
.price-modal-title {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
.modal-content {
    background-color: #F6FFF8;
    text-align: center;
}
.modal-body ul {
    padding: 0;
}
.modal-body li {
    list-style-type: none;
    text-align: center;
}
.icon-close {
    color: #39210C;
}

/* Submit Modal */

.submit-modal {
    z-index: 9999991;
    color: #39210C;
}

.submit-modal-title {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

/* Media Queries */

 @media (min-width: 768px) {
    .pricingTable {
         width: 80%;
     }
    #navbar-brand {
        font-size: 4rem;
        line-height: 5rem;
        padding-left: 1.5rem;
    }
    .paragraph-text {
    width: 100%;
    }
    
}

@media (min-width: 576px) {
    #hero-image {
    background-attachment: fixed;
    }
    #navbar-brand {
        padding-top: 0;
    }
    #navigation li a {
        line-height: 5rem;
    }
}