@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Fanwood+Text&display=swap');

html {
  scroll-padding-top: 50px; /* height of sticky header */
}

body {
    font-family: "Fanwood Text", sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 16px;
}

/*--------------------------------- Colors */
.bg-color-dark {
    background-color: #3C5D4B;
    color: #F6FFF8;
}

.bg-color-light {
    background-color: #A1BAAF;
    color:#39210C
}

/*--------------------------------- Padding / margin/ text */

.hr {
    border: 1px solid #A1BAAF;
    width: 100%;
    margin: 30px 0; 
}

.heading {
    font-family: "Eagle Lake", sans-serif;
    text-align: center;
    margin: 15px 0;
    font-size: 30px;
}

.sub-heading {
    font-family: "Eagle Lake", sans-serif;
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
}

/*--------------------------------- Header */


.navbar {
    text-align: left;
    align-items: right;
    display: block;
    color: #39210C;
    background-color: #A1BAAF;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100vw;
    z-index: 999999;
    padding: 0;
    margin: 0;
}

.nav-link {
    padding: 0;
    display: absolute;
    color: #39210C;
}

.navigation {
    color: #39210C;
    font-size: 15px;
    padding-left: 10px;
    line-height: 50px;
}


.navbar-brand {
    font-family: "Eagle Lake", sans-serif;
    font-size: 40px;
    line-height: 50px;
    float: left;
    margin: 0;
    padding-left: 15px;
}

.navbar-dark .navbar-brand {
    color: #39210C;
}

.navbar-dark .navbar-brand:hover {
    color: #39210C;
}

.navbar-nav {
    line-height: 50px;
    font-family: "Fanwood Text", sans-serif;
    font-size: 20px;
    padding:0;
}

.navbar-dark .navbar-toggler {
    color: #39210C;
    border-color: #39210C;
    padding: 15px;
   

}

.nav-item {
    padding: 0;
}
/*--------------------------------- Hovers */

.active{
    border-bottom: 1px solid #39210C;
}

.btn-promotions:hover {
    text-decoration: underline;
    border: 3px solid #39210C;
    color: #39210C;
}

/*--------------------------------- Hero image */

#hero-image {
    background: url('../images/nature-image.jpg')no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    padding: 0;

}

/*--------------------------------- Welcome section */

.image-owners {
    background-image: url('../images/owners-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
    border-radius: 50%;
    margin: 15px 0;
}

.text-property,
.text-owners {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.welcome-text {
    width: 90%;
    word-wrap: break-word;
}

.about-heading {
    font-family: "Eagle Lake", sans-serif;
    margin-bottom: 20px;
    font-size: 25px;
}

/*--------------------------------- Tree house section */

.treehouse-images {
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#treehouse-outside {
    background-image: url('../images/treehouse-outside.jpg');
}

#treehouse-living-room {
    background-image: url('../images/treehouse-living-room.jpg');
}

#treehouse-terrace {
    background-image: url('../images/treehouse-terrace.jpg');
    background-position: center;
}

#treehouse-bedroom {
    background-image: url('../images/treehouse-bedroom.jpg');
    background-position: center;
}

.treehouse-text {
    text-align: center;
    margin-top: 15px;
}

.policies {
    text-align: center;
}

/*--------------------------------- Prices */

.prices {
    text-align: center;
    border: 3px solid #F6FFF8;
    width: 60%;
    margin: auto;
}

.promotions {
    text-align: center;
}

.btn-promotions {
    background-color:#A1BAAF;
    color: #39210C;
    text-align: center;
    margin-top: 30px;
    border: 3px solid #39210C;
    border-radius: 10px;
    font-size: 20px;
}

.price-modal {
    color: #39210C;
    z-index: 9999991;
}

.pricing-title {
    font-family: "Eagle lake", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pricing-content li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pricing-content {
    padding: 0;
    font-size: 20px;
}

.pricingTable {
    text-align: center;
    border: 4px solid #A1BAAF;
    height: 400px;
    margin: 0 auto;
}

.price-value {
    margin-top: 30px;
}
.price-value h4 {
    text-decoration: underline;
    margin-top: 10px;
    }

/*--------------------------------- Gallery */

.gallery {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height:300px;
    background-position: center center;
    text-align:center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding:0;  
}

#gallery-treehouse-outside {
    background-image: url('../images/gallery-treehouse-outside.jpg');
}
#gallery-treehouse-sideview {
    background-image: url('../images/gallery-treehouse-sideview.jpg');
}
#gallery-bedroom {
    background-image: url('../images/gallery-bedroom.jpg');
}
#gallery-terrace-view {
    background-image: url('../images/gallery-terrace-view.jpg');
}
#gallery-outdoor-stairs {
    background-image: url('../images/gallery-outdoor-stairs.jpg');
    background-position: bottom;
}
#gallery-river-small {
    background-image: url('../images/gallery-river-small.jpg');
}
#gallery-outdoor-fireplace {
    background-image: url('../images/gallery-outdoor-fireplace.jpg');
}
#gallery-river-big {
    background-image: url('../images/gallery-river-big.jpg');
}
#gallery-breakfast-buffet {
    background-image: url('../images/gallery-breakfast-buffet.jpeg');
}
#gallery-breakfast-table {
    background-image: url('../images/gallery-breakfast-table.jpeg');
}
#gallery-restaurant {
    background-image: url('../images/gallery-restaurant.jpeg');
}
#gallery-outdoor-barbecue {
    background-image: url('../images/gallery-outdoor-barbecue.jpeg');
    background-position: bottom;
}
/*--------------------------------- Testimonials */
.testimonial {  
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
     }

.testimonial-icon {
    color: #A1BAAF;
    font-size: 50px;
    text-align: right;
    margin-bottom: 0;
    margin-right: 50px;
    }

.testimonial-heading {
    margin-top: 0;
}
.social-links {
    text-align: center;

}

.social-links a {
    text-decoration: none;
    color: #A1BAAF;
    font-size: 50px;
    padding: 30px;
}

/*--------------------------------- Contact */

.contact-location {
    text-align: center;
}

.contact-location a {
    text-decoration: none;
    color: inherit;
}

.contact-location a:hover {
    text-decoration: underline;
}

.contact-form {
    text-align: center;
}

input,
textarea {
    width: 80%;
    margin-bottom: 10px;
    background-color: #A1BAAF;
    border: 2px solid #39210C;
    border-radius: 10px;
    color: #39210C;
}

::placeholder {
    color: #39210C;
}



.btn-submit {
    border: 2px solid #39210C;
    border-radius: 10px;
    width: 100px;
}

/*--------------------------------- Footer */

.footer-section {
    min-height: 70px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-section a {
    text-decoration: none;
    color: #39210C;
    font-family: "Eagle Lake", sans-serif;
    font-size: 40px;
    line-height: 70px;
    
}

.contact-form {
    margin-bottom: 15px;
}

/*--------------------------------- Media Queries */
 @media (max-width: 768px) {
    .prices {
         width: 90%;
     }
    .navbar-brand {
    font-family: "Eagle Lake", sans-serif;
    font-size: 30px;
    line-height: 40px;
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
}

.navbar-nav {
    line-height: 40px;
    font-family: "Fanwood Text", sans-serif;
    font-size: 15px;
    padding:0;

}

     }

@media (min-width: 576px) {
.navbar-expand-sm .navbar-collapse {
    display: block;
}
}